html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  box-sizing: border-box;
}

#htmlContainer {
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite scroll se o conteúdo for maior que o container */
  box-sizing: border-box;
}